.apc-configure-container {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
}

.apc-configure-layout {
  position: absolute;
  height: 100%;
  width: 100%;
}

.apc-configure-page-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  box-sizing: content-box;
  border: 3px solid #000;
  border-radius: 5px;
}

.apc-configure-page-bg {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/background.svg');
  mix-blend-mode: difference;
}
