.apc-dnd {
  position: absolute;
  display: inline-block;
  user-select: none;
  z-index: 100;
}

.apc-table-dnd {
  background: #fff;
  width: 100%;
}

.apc-select-dnd {
  width: 160px;
}

.apc-form-container-dnd {
  box-shadow: 0 0 1px 1px #ff02f7;
  z-index: 10 !important;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '表单容器';
    font-size: 12px;
    color: #ff02f7;
    border-left: 1px dotted #ff02f7;
    border-bottom: 1px dotted #302c30;
  }
}

.apc-row-container-dnd {
  box-shadow: 0 0 1px 1px #2062f0;
  z-index: 20 !important;

  .ant-row {
    height: 100%;

    .ant-col {
      height: 100%;
    }
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '栅格容器';
    font-size: 12px;
    color: #2062f0;
    border-left: 1px dotted #2062f0;
    border-bottom: 1px dotted #2062f0;
  }
}

.apc-formItem-container-dnd {
  box-shadow: 0 0 1px 1px #0124ff;
  z-index: 30 !important;
  height: 100px;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '表单项容器';
    font-size: 12px;
    color: #0124ff;
    border-left: 1px dotted #0124ff;
    border-bottom: 1px dotted #0124ff;
  }
}
